html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans";
}

img {
  max-width: 80%;
  filter: grayscale(100%);
  border-radius: 50%;
}

a {
  font-family: "Merriweather";
  text-decoration: none;
  color: #bada55;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

button {
  border-radius: 10px;
  border: none;
  background-color: #bada55;
  color: white;
  font-size: 20px;
}

h1 {
  font-family: "Merriweather";
  font-size: 5vw;
  font-weight: 200;
  margin: 0;
}

div.spacer {
  height: 300px;
}

.left-container {
  width: 30%;
  float: left;
  text-align: center;
}

.right-container {
  width: 60%;
  float: left;
  font-size: 12;
}

.quote {
  color: gray;
  font-family: "Merriweather";
  width: 50%;
  text-align: center;
}

.quote.right {
  float: right;
}

.quote.left {
  float: left;
}
